@model QuizManager.Models.EditQuestionModel
@{
    ViewData["Title"] = "Edit Question";
}

<div class="edit-question__header">
    <h1 class="edit-question__header--heading">Edit Question</h1>
    <div class="edit__header--nav">
        <a class="page__link" href="/Home/Index">Home</a>
        <a class="page__link" href="/Home/Logout">Logout</a>
    </div>
</div>


<div class="edit-question__container" id="Quiz-Body">
    @using (Html.BeginForm("EditQuestion", "Quiz", FormMethod.Post, new { @id = "Edit-Question-Form" }))
    {
        <label class="edit-question__label" for="Question">Question</label>
        <input class="edit-question__input" type="text" name="Question" value="@Model.Question.QuestionText" />
        <label class="edit-question__label" for="CorrectAnswer">Correct Answer</label>
        <input class="edit-question__input" type="text" name="CorrectAnswer" value="@Model.Question.CorrectAnswer" />
        <label class="edit-question__label" for="WrongAnswer">WrongAnswers</label>
        @foreach (var wrongAnswer in Model.Question.WrongAnswers)
        {
            <input class="edit-question__input input__wrong-answer" type="text" name="WrongAnswer" value="@wrongAnswer" />
        }

        <input type="hidden" value="@Model.QuizId" id="Quiz-Id" />
        <input type="hidden" value="@Model.QuestionId" id="Question-Id" />
        @Html.AntiForgeryToken();

        <button class="edit-question__button" id="Update-Question-Button">Update</button>
    }
</div>

<script>
    index.initEditQuestion();
</script>
